.navclass {
    width: 100%;
    margin: auto;
    text-align: center;
}

.menuContainer a:first-child {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1vw;
    letter-spacing: 1px;
}

.menuContainer a {
    font-family: 'Catamaran', sans-serif;
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.9vw;
    letter-spacing: 1px;
}

.menuContainer a:hover {
    color: rgb(255, 196, 2);
}

.top-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    margin: auto;
}

.nav-colored {
    max-width: 100%;
    background-color: white;
}

.nav-transparent {
    max-width: 100%;
    background-color: transparent;
}

.menuContainer {
    width: 1000px;
    margin: auto;
}

.container-4 {
    background-color: rgba(100, 100, 100, 0.3);
    background-image: url("/img/bg-cta.jpg");
    display: block;
    position: relative;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 0;
}

#container-4div {
    top: 100px;
    font-family: 'Muli', sans-serif;
    left: 20%;
    color: ivory;
    font-size: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.container-button {
    top: 100px;
    position: relative;
    left: 20%;
    color: ivory;
    background-color: transparent;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 2px solid ivory;
    display: inline-block;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    padding: 12px 35px;
    text-decoration: none;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 300ms;
    transition-property: background-color;
    transition-duration: 300ms
}

.container-button:hover {
    background-color: rgb(255, 196, 2);
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 300ms;
    transition-property: background-color;
    transition-duration: 300ms
}

#container-4button:hover {
    border: 2px solid rgb(255, 196, 2);
    -webkit-transition-property: border;
    -webkit-transition-duration: 300ms;
    transition-property: border;
    transition-duration: 300ms
}

.hatterSzin {
    background-color: rgba(100, 100, 100, 0.3);
    height: 100%;
}

@media only screen and (max-width:1300px) {
    .menuContainer {
        width: 800px;
        margin: auto;
    }
}

@media only screen and (max-width:1000px) {
    .menuContainer {
        width: 700px;
        margin: auto;
    }
}

@media only screen and (max-width:750px) {
    /* For tablets: */
    .menuContainer a:first-child {
        font-size: 2vw;
    }
    .menuContainer a {
        font-size: 1.75vw;
    }
    .top-nav {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
    .menuContainer {
        width: 400px;
        margin: auto;
    }
    .container-4 {
        max-width: 100%;
    }
    #container-4div {
        top: 20%;
        position: absolute;
        font-size: 5vw;
    }
    #container-4button {
        top: 40%;
        position: absolute;
        font-size: 2.5vw;
    }
}

@media only screen and (max-width:600px) {
    .menuContainer {
        width: 450px;
        margin: auto;
    }
}

@media only screen and (max-width:450px) {
    /* For mobile phones: */
    .menuContainer a:first-child {
        font-size: 3vw;
    }
    .menuContainer a {
        font-size: 2.75vw;
    }
    .menuContainer {
        width: 300px;
        margin: auto;
    }
    .top-nav,
    .container-4 {
        max-width: 100%;
    }
    #container-4div {
        position: absolute;
    }
    #container-4button {
        top: 40%;
        position: absolute;
    }
}