@font-face {
    font-family: "Catamaran";
    src: url("fonts/Catamaran/Catamaran-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Muli";
    src: url("fonts/Muli/Muli-Regular.ttf") format("truetype");
}

/*Gombok szövege, felső menü linkek{
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}
*/

p,
footer,
.modal {
    font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
}

body {
    width: 100%;
}

.main {
    max-width: 1170px;
    margin: auto;
}

/* img {
    max-width: 100%;
} */

.container-1-bgColor {
    background: linear-gradient(to right, #da2431, #7a4397);
}

.container-1-bgImage {
    background-image: url('../img/bg-pattern.png');
    background-repeat: repeat;
}

.container-1-sub {
    display: inline-block;
    width: 45%;
}

.c1-img {
    width: 50px;
}

footer {
    background-color: #222222;
    color: #646464;
    text-align: center;
    font-size: 0.8em;
    height: 95px;
}

footer p {
    position: relative;
    padding-top: 25px;
    line-height: 2em;
    text-transform: capitalize;
}

footer p span {
    margin: 0 4px;
    color: #646464;
    text-decoration: none;
}

footer p span:focus,
footer p span:hover {
    color: #fdcc52;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fdcc52;
    color: black;
    border-radius: 25px 25px 0 0;
    text-align: center;
}

.modal-body {
    font-size: 1em;
    padding: 10px 20px 20px 20px;
    color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #000;
    width: 75%;
    border-radius: 25px;
}

#modalClosePrivacy,
#modalCloseTerms,
#modalCloseFaq {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClosePrivacy:hover,
#modalCloseTerms:hover,
#modalCloseFaq:hover,
#modalClosePrivacy:focus,
#modalCloseTerms:focus,
#modalCloseFaq:focus {
    color: #646464;
    text-decoration: none;
    cursor: pointer;
}