.container-5 {
    background-color: #fdc942;
    opacity: 0.9;
    display: block;
    height: 250px;
    font-size: 25px;
    text-align: center;
}

.container-5 .main {
    display: inline-block;
    vertical-align: middle;
    height: 250px;
}

.container-5 a {
    text-decoration: none;
}